{% extends "base.html" %}

{% load static %}

{% block title %}
    Excluir produto | PVDPro
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/produto-delete.css' %}">

    <div class="delete-modal-overlay">

        <div class="delete-modal">

            <div class="delete-icon">
                🗑
            </div>

            <h2>
                Excluir produto?
            </h2>

            <p>
                <strong>{{ object.nome }}</strong> será removido
                <br>
                permanentemente.
            </p>

            <form method="post">

                {% csrf_token %}

                <div class="delete-modal-actions">

                    <a
                        href="{% url 'produtos:lista' %}"
                        class="delete-btn-cancelar"
                    >
                        Cancelar
                    </a>

                    <button
                        type="submit"
                        class="delete-btn-excluir"
                    >
                        Excluir
                    </button>

                </div>

            </form>

        </div>

    </div>

{% endblock %}